.title {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}
